<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>icon</key>
			<string>shuju_network</string>
			<key>title</key>
			<string>蜂窝数据</string>
			<key>url</key>
			<string>App-Prefs:root=MOBILE_DATA_SETTINGS_ID</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>location</string>
			<key>title</key>
			<string>定位</string>
			<key>url</key>
			<string>App-Prefs:root=LOCATION_SERVICES</string>
		</dict>
	</array>
</dict>
</plist>
